* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 120px;
    background: #000;
    padding-top: 30px;
}

.header-title {
    color: #fff;
    font-family: 'Akronim', cursive;
    font-size: 3em;
}

.header-subtitle {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-left: 130px;
    margin-top: -10px;
}

.header-container {
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    display: flex;
    list-style: none;
}

ul>li {
    margin-left: 50px;
}

li {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.menu {
    margin-left: 770px;
    margin-top: -50px;
}

#select {
    border: 3px solid #284eff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 20px;
}

.left {
    height: 100%;
    width: 100px;
    background: #000;
}