html,
body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    position: relative;
    height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 98%, 80% 55%, 45% 16%);
    clip-path: polygon(0 0, 100% 0, 100% 98%, 80% 55%, 45% 16%);
}

body {
    background-color: #fff;
}

.title {
    font-family: 'Akronim', cursive;
    font-size: 150px;
    color: #000;
    transition: .9s;
    margin-top: -520px;
}

.sub {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 500px;
    margin-top: -150px;
    color: #000;
}

button {
    width: 250px;
    height: 45px;
    background: none;
    border: 2px solid #000;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    margin-top: 50px;
    margin-left: 230px;
    font-size: 18px;
    transition: .6s;
}

button:focus {
    outline: none;
}

button:hover {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    color: #fff;
    border-color: #fff;
}

.yer {
    font-family: 'Roboto', sans-serif;
    margin-top: 90px;
    transition: .6s;
    margin-top: 195px;
    margin-left: 1150px;
}

.yer:hover {
    color: #b1b1b1;
}

a {
    text-decoration: none;
}

a {
    color: #000;
}