        * {
            padding: 0;
            margin: 0;
        }
        
        body {
            background: #fff;
        }
        
        .cfc {
            color: #000;
            font-family: 'Montserrat', sans-serif;
            margin-top: 50px;
            text-align: center;
            font-size: 54px;
        }
        
        .res1 {
            font-family: 'Roboto', sans-serif;
            text-align: center;
            margin-top: 15px;
            font-size: 18px;
            margin-bottom: 50px;
        }
        
        .container-comics-graphic {
            width: 100%;
            height: 700px;
            background-size: cover;
            background: #7F7FD5;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            display: flex;
        }
        
        .americanCarnage7 {
            margin-left: 95px;
            margin-top: 100px;
            -webkit-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.75)
        }
        
        .tittle-comic {
            color: #004d61;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            margin-left: 95px;
            margin-top: 20px;
        }
        
        .disp {
            color: #fff;
            font-family: 'Raleway', sans-serif;
            margin-left: 95px;
            font-size: 14px;
            margin-top: 10px;
        }
        
        header {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            padding: 20px;
            background: #000;
        }
        
        header #button-menu {
            font-size: 30px;
            color: #fff;
            cursor: pointer;
        }
        
        .navegacion {
            position: absolute;
            top: 100%;
            left: 0;
            width: 0%;
            height: 100vh;
            background: rgba(0, 0, 0, .0);
            font-family: 'Monserrat', sans-serif;
        }
        
        .navegacion ul {
            width: 320px;
            height: 100%;
            background: #fff;
            list-style: none;
            position: absolute;
            top: 0;
            left: -320px;
            transition: left .3s;
        }
        
        .navegacion .menu li.title-menu {
            padding: 20px;
            background: #000;
            color: #fff;
            text-align: center;
            font-size: 22px;
        }
        
        .navegacion .menu a {
            display: block;
            padding: 20px;
            border-bottom: 1px solid #C6D0DA;
            font-size: 22px;
            font-weight: 200;
            text-decoration: none;
            color: #575D69;
        }
        
        .navegacion .menu a:hover {
            background: #000;
            color: #fff;
            transition: .5s;
            border-radius: 0 25px 25px 0;
        }
        
        .navegacion .menu a {
            transition: 1s;
        }
        
        .navegacion .menu li span.icon-menu {
            margin-right: 12px;
        }
        
        .navegacion .menu .item-submenu>a::after {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: '\f105';
            float: right;
            color: #C5C5C5;
        }
        /* Submenu ============*/
        
        .navegacion .submenu li.title-menu {
            background: #fff;
            color: #575D69;
        }
        
        .navegacion .submenu li.go-back {
            padding: 10px 20px;
            background: #333;
            color: #fff;
            font-size: 18px;
            cursor: pointer;
        }
        
        .navegacion .submenu li.go-back::before {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: '\f0d9';
            margin-right: 10px;
        }
        
        @media screen and (max-width: 320px) {
            .navegacion ul {
                width: 100%;
            }
        }
        
        .desc1 {
            color: #007efd;
            font-family: 'Baloo Bhai', cursive;
        }
        
        .tittle-comic-m-r {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 24px;
        }
        
        .must-read-w-c>img,
        .desc1,
        .tittle-comic-m-r {
            margin-left: 50px;
        }
        
        .must-read-w-c,
        .must-read-sand,
        .must-read-doom {
            margin-top: 50px;
        }
        
        .must-read {
            display: flex;
        }
        
        .must-read-sand>img,
        .desc1 {
            margin-left: 50px;
        }
        
        .must-read-doom>img,
        .desc1 {
            margin-left: 50px;
        }
        
        .container-series,
        .container-series-2 {
            width: 100%;
            background: #000;
            margin-top: 50px;
        }
        
        .container-series-title {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: bold;
        }
        
        .container-series-1 {
            margin-left: 30px;
            margin-top: 20px;
        }
        
        .container-series-title {
            text-align: center;
        }
        
        .container-series-img {
            margin-top: 20px;
        }
        
        .horiz {
            display: flex;
        }
        
        .container-series-2 {
            margin-top: -35px;
        }
        
        h1 {
            color: #000;
            font-family: 'Monserrat', sans-serif;
            font-size: 64px;
            text-align: center;
            margin-top: 50px;
        }
        
        a {
            text-decoration: none;
            color: #fff;
        }
        
        .imgF {
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 500px;
        }
        
        .img-most-read {
            margin-left: 50px;
        }
        
        .disponible-no {
            margin-left: 50px;
            font-family: 'Roboto', sans-serif;
            color: #ff0d13;
        }
        
        .disponible-si {
            margin-left: 50px;
            font-family: 'Roboto', sans-serif;
            color: #00ff15;
        }